<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.thymeleaf.org/thymeleaf-extras-shiro">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <title>商品管理</title>
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/css/materialdesignicons.min.css}" rel="stylesheet">
  <link th:href="@{/js/jquery-confirm/jquery-confirm.min.css}" rel="stylesheet">
  <link th:href="@{/css/animate.min.css}" rel="stylesheet">
  <link th:href="@{/css/style.min.css}" rel="stylesheet">
</head>

<body>
<div class="container-fluid p-t-15">

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-toolbar d-flex flex-column flex-md-row">
          <div class="toolbar-btn-action">
            <a class="btn btn-primary m-r-5" href="#!"><i class="mdi mdi-plus"></i> 新增</a>
            <a class="btn btn-success m-r-5 ajax-post confirm" href="http://www.lyear.com/doc_test.php" target-form="ids"><i class="mdi mdi-check"></i> 上架</a>
            <a class="btn btn-warning m-r-5" href="#!"><i class="mdi mdi-block-helper"></i> 下架</a>
            <a class="btn btn-danger" href="#!"><i class="mdi mdi-window-close"></i> 删除</a>
          </div>

          <form class="search-bar ml-md-auto" method="get" action="#!" role="form">
            <input type="hidden" name="search_field" id="search-field" value="title" />
            <div class="input-group ml-md-auto">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="mdi mdi-cloud-search"></i></span>
              </div>
              <input type="text" class="form-control" name="emp_name" placeholder="请输入商品名">
            </div>
          </form>
        </div>
        <div class="card-body">

          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
              <tr>
                <th>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="check-all">
                    <label class="custom-control-label" for="check-all"></label>
                  </div>
                </th>
                <th>编号</th>
                <th>名称</th>
                <th>分类</th>
                <th>单价</th>
                <th>过期时间</th>
                <th>状态</th>
                <th>操作</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input ids" name="ids[]" value="1" id="ids-1">
                    <label class="custom-control-label" for="ids-1"></label>
                  </div>
                </td>
                <td>0001</td>
                <td>乐事薯片</td>
                <td>零食</td>
                <td>12.00</td>
                <td>2022-3-28</td>
                <td><font class="text-success">上架</font></td>
                <td>
                  <div class="btn-group">
                    <a class="btn btn-xs btn-default" href="#!" title="" data-toggle="tooltip" data-original-title="修改"><i class="mdi mdi-pencil"></i></a>
                    <a class="btn btn-xs btn-default" href="#!" title="" data-toggle="tooltip" data-original-title="详情"><i class="mdi mdi-receipt"></i></a>
                    <a class="btn btn-xs btn-default" href="#!" title="" data-toggle="tooltip" data-original-title="智能托管"><i class="mdi mdi-react"></i></a>
                    <a class="btn btn-xs btn-default" href="#!" title="" data-toggle="tooltip" data-original-title="删除"><i class="mdi mdi-window-close"></i></a>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input ids" name="ids[]" value="2" id="ids-2">
                    <label class="custom-control-label" for="ids-2"></label>
                  </div>
                </td>
                <td>0002</td>
                <td>营养快线</td>
                <td>饮料</td>
                <td>4.00</td>
                <td>2022-2-6</td>
                <td><font class="text-danger">下架</font></td>
                <td>
                  <div class="btn-group">
                    <a class="btn btn-xs btn-default" href="#!" title="" data-toggle="tooltip" data-original-title="修改"><i class="mdi mdi-pencil"></i></a>
                    <a class="btn btn-xs btn-default" href="#!" title="" data-toggle="tooltip" data-original-title="详情"><i class="mdi mdi-receipt"></i></a>
                    <a class="btn btn-xs btn-default" href="#!" title="" data-toggle="tooltip" data-original-title="智能托管"><i class="mdi mdi-react"></i></a>
                    <a class="btn btn-xs btn-default" href="#!" title="" data-toggle="tooltip" data-original-title="删除"><i class="mdi mdi-window-close"></i></a>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <nav>
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link" href="#!" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">上一页</span>
                </a>
              </li>
              <li class="page-item"><a class="page-link" href="#!">1</a></li>
              <li class="page-item"><a class="page-link" href="#!">2</a></li>
              <li class="page-item"><a class="page-link" href="#!">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#!" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">下一页</span>
                </a>
              </li>
            </ul>
          </nav>

        </div>
      </div>
    </div>

  </div>

</div>
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/lyear-loading.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap-notify.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-confirm/jquery-confirm.min.js}"></script>
<script type="text/javascript" th:src="@{/js/main.min.js}"></script>
<script type="text/javascript">
  $(function(){
    $('.search-bar .dropdown-menu a').click(function() {
      var field = $(this).data('field') || '';
      $('#search-field').val(field);
      $('#search-btn').html($(this).text());
    });

    // 通用ajax post请求
    jQuery(document).delegate('.ajax-post', 'click', function(){
      var self        = jQuery(this), tips = self.data('tips'), ajax_url = self.attr("href") || self.data("url");
      var target_form = self.attr('target-form');
      var text        = self.data('tips');
      var form        = jQuery('form[name="'+ target_form +'"]');

      if (form.length == 0) {
        form = jQuery('.' + target_form);
      }

      var form_data = form.serialize();
      if ('submit' == self.attr('type') || ajax_url) {
        if (void 0 == form.get(0)) return false;

        // 如果节点是FORM表单
        if ('FORM' == form.get(0).nodeName) {
          ajax_url = ajax_url || form.get(0).action;

          // 确认提交
          if (self.hasClass('confirm')) {
            $.confirm({
              title: '',
              content: tips || '确认要执行该操作吗？',
              type: 'orange',
              typeAnimated: true,
              buttons: {
                confirm: {
                  text: '确认',
                  btnClass: 'btn-blue',
                  action: function() {
                    var loader = $('body').lyearloading({
                      opacity: 0.2,
                      spinnerSize: 'lg'
                    });
                    self.attr('autocomplete', 'off').prop('disabled', true);
                    ajaxPostFun(self, ajax_url, form_data, loader);
                  }
                },
                cancel: {
                  text: '取消',
                  action: function() {}
                }
              }
            });
            return false;
          } else {
            self.attr("autocomplete", "off").prop("disabled", true);
          }
        } else if ('INPUT' == form.get(0).nodeName || 'SELECT' == form.get(0).nodeName || 'TEXTAREA' == form.get(0).nodeName) {
          // 复选框判断是否有选择项
          if (form.get(0).type == 'checkbox' && form_data == '') {
            showNotify('请选择您要操作的数据', 'danger');
            return false;
          }

          if (self.hasClass('confirm')) {
            $.confirm({
              title: '',
              content: tips || '确认要执行该操作吗？',
              type: 'orange',
              typeAnimated: true,
              buttons: {
                confirm: {
                  text: '确认',
                  btnClass: 'btn-blue',
                  action: function() {
                    var loader = $('body').lyearloading({
                      opacity: 0.2,
                      spinnerSize: 'lg'
                    });
                    self.attr('autocomplete', 'off').prop('disabled', true);

                    ajaxPostFun(self, ajax_url, form_data, loader);
                  }
                },
                cancel: {
                  text: '取消',
                  action: function() {}
                }
              }
            });
            return false;
          } else {
            self.attr("autocomplete", "off").prop("disabled", true);
          }
        } else {
          if (self.hasClass('confirm')) {
            $.confirm({
              title: '',
              content: tips || '确认要执行该操作吗？',
              type: 'orange',
              typeAnimated: true,
              buttons: {
                confirm: {
                  text: '确认',
                  btnClass: 'btn-blue',
                  action: function() {
                    var loader = $('body').lyearloading({
                      opacity: 0.2,
                      spinnerSize: 'lg'
                    });
                    self.attr('autocomplete', 'off').prop('disabled', true);

                    ajaxPostFun(self, ajax_url, form_data, loader);
                  }
                },
                cancel: {
                  text: '取消',
                  action: function() {}
                }
              }
            });
            return false;
          } else {
            form_data = form.find("input,select,textarea").serialize();
            self.attr("autocomplete", "off").prop("disabled", true);
          }
        }

        var loader = $('body').lyearloading({
          opacity: 0.2,
          spinnerSize: 'lg'
        });
        ajaxPostFun(self, ajax_url, form_data, loader);

        return false;
      }
    });

    // 通用ajax get请求
    jQuery(document).delegate('.ajax-get', 'click', function(){
      var self = $(this), tips = self.data('tips'), ajax_url = self.attr("href") || self.data("url");

      if (self.hasClass('confirm')) {
        $.confirm({
          title: '',
          content: tips || '确认要执行该操作吗？',
          type: 'orange',
          typeAnimated: true,
          buttons: {
            confirm: {
              text: '确认',
              btnClass: 'btn-blue',
              action: function() {
                var loader = $('body').lyearloading({
                  opacity: 0.2,
                  spinnerSize: 'lg'
                });
                self.attr('autocomplete', 'off').prop('disabled', true);

                ajaxGetFun(self, ajax_url, loader);
              }
            },
            cancel: {
              text: '取消',
              action: function() {}
            }
          }
        });
        return false;
      } else {
        var loader = $('body').lyearloading({
          opacity: 0.2,
          spinnerSize: 'lg'
        });
        self.attr('autocomplete', 'off').prop('disabled', true);

        ajaxGetFun(self, ajax_url, loader);
      }
      return false;
    });

    // POST提交处理
    function ajaxPostFun(selfObj, ajax_url, form_data, loader) {
      console.log('url==>'+ajax_url);
      console.log('form_data==>'+form_data);
      setTimeout(function() {
        loader.destroy();
        showNotify('修改成功，页面即将自动跳转~', 'success', 1000);
        selfObj.attr("autocomplete", "on").prop("disabled", false);
      }, 1e3);
      // 这里屏蔽get提交，js模拟返回成功，正常使用时请删除上面的内容，打开下面的注释代码
      /*
      jQuery.post(ajax_url, form_data).done(function(res) {
          loader.destroy();
          var res = eval('(' + res + ')');
          var msg = res.msg;
          if (200 == res.code) {
              if (res.url && !selfObj.hasClass('no-refresh')) {
                  msg += '页面即将自动跳转';
              }
              showNotify(msg, 'info');
              setTimeout(function () {
        selfObj.attr("autocomplete", "on").prop("disabled", false);
        return selfObj.hasClass("no-refresh") ? false : (res.url ? location.href = res.url : location.reload());
      }, 1500);
          } else {
              showNotify(msg, 'danger');
              selfObj.attr("autocomplete", "on").prop("disabled", false);
          }
      }).fail(function () {
          loader.destroy();
          showNotify('服务器发生错误，请稍后再试', 'danger');
          selfObj.attr("autocomplete", "on").prop("disabled", false);
      });
      */
    }

    // GET提交处理
    function ajaxGetFun(selfObj, ajax_url, loader) {
      console.log(ajax_url);
      setTimeout(function() {
        loader.destroy();
        showNotify('修改成功，页面即将自动跳转~', 'success', 1000);
        selfObj.attr("autocomplete", "on").prop("disabled", false);
      }, 1e3);
      // 这里屏蔽get提交，js模拟返回成功，正常使用时请删除上面的内容，打开下面的注释代码
      /*
      jQuery.get(ajax_url).done(function(res) {
          loader.destroy();
          var res = eval('(' + res + ')');
          var msg = res.msg;
          if (200 == res.code) {
              if (res.url && !selfObj.hasClass('no-refresh')) {
                  msg += '页面即将自动跳转';
              }
              showNotify(msg, 'info');
              setTimeout(function () {
        selfObj.attr("autocomplete", "on").prop("disabled", false);
        return selfObj.hasClass("no-refresh") ? false : (res.url ? location.href = res.url : location.reload());
      }, 1500);
          } else {
              showNotify(msg, 'danger');
              selfObj.attr("autocomplete", "on").prop("disabled", false);
          }
      }).fail(function () {
          loader.destroy();
          showNotify('服务器发生错误，请稍后再试', 'danger');
          selfObj.attr("autocomplete", "on").prop("disabled", false);
      });
      */
    }

    /*
     * 提取通用的通知消息方法
     * 这里只采用简单的用法，如果想要使用回调或者更多的用法，请查看lyear_js_notify.html页面
     * @param $msg 提示信息
     * @param $type 提示类型:'info', 'success', 'warning', 'danger'
     * @param $delay 毫秒数，例如：1000
     * @param $icon 图标，例如：'fa fa-user' 或 'glyphicon glyphicon-warning-sign'
     * @param $from 'top' 或 'bottom' 消息出现的位置
     * @param $align 'left', 'right', 'center' 消息出现的位置
     */
    function showNotify($msg, $type, $delay, $icon, $from, $align) {
      $type  = $type || 'info';
      $delay = $delay || 1000;
      $from  = $from || 'top';
      $align = $align || 'right';
      $enter = $type == 'danger' ? 'animated shake' : 'animated fadeInUp';

      jQuery.notify({
            icon: $icon,
            message: $msg
          },
          {
            element: 'body',
            type: $type,
            allow_dismiss: true,
            newest_on_top: true,
            showProgressbar: false,
            placement: {
              from: $from,
              align: $align
            },
            offset: 20,
            spacing: 10,
            z_index: 10800,
            delay: $delay,
            animate: {
              enter: $enter,
              exit: 'animated fadeOutDown'
            }
          });
    }
  });
</script>
</body>
</html>